.logo img{
    position: relative;
    top: 6px;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.4);
    width: 97px;
    height: 25px;
}
.sublogo {
    position: relative;
    font-family: Arial;
    color:  #a7a7a7;
    font-size: 10.6px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    width: 98px;
    height: 8px;
}
.title {
    position: relative;
    background-color: #333333;
    width: 1400px;
    height: 50px;
}