
.filter {
    padding-top: 20px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.28);
    width: 1400px;
    height: 77px;
}
.date{
    position: relative;
    font-family: Arial;
    color: #666666;
    font-size: 12px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
}
